<ion-view view-title="Status">
  <ion-content class="status-top" >
    <ion-refresher class="pull-to-refresh-status" pulling-text="Pull to refresh" on-refresh="vm.refresh()"></ion-refresher>
    <div class="status-wrapper">

      <div ng-if="vm.warning" ng-include="'templates/no-data.html'"></div>

      <div ng-if="!vm.warning && vm.initialized">
        <div class="lock-status" ng-show="vm.lockStatus">
          <i class="ion-android-lock status-icon locked"></i>
          <h1 class="text-center">Locked</h1>
        </div>
        <div class="lock-status" ng-hide="vm.lockStatus">
          <i class="ion-android-unlock status-icon unlocked"></i>
          <h1 class="text-center">Unlocked</h1>
        </div>
        <p class="text-center" ng-show="vm.timeDisplayed">Last time: {{vm.lastLocked}}</p>
      </div>

    </div>
  </ion-content>
</ion-view>
