<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/status">
    <ion-nav-view name="tab-status"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Logs" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/logs">
    <ion-nav-view name="tab-logs"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
